/******************************
Alerts
******************************/
#messages {
    display: flex;
    justify-content: center;
}
#messages .alert {
    text-align: center;
    width: 500px;
}
/******************************
Layout
******************************/
#content {
    margin: 0 5%;
}
/******************************
Bootstrap overrides
******************************/
/******************************
Navbar
******************************/
.navbar-brand {
    color: #ffffff !important;
    font-size: 1.2rem;
}
@media all and (min-width: 375px){
    .navbar-brand {
        font-size: 1.55rem;
    }
}
.bg-light {
    background-color: #17a2b8 !important;
}
.nav-link {
    color: #ffffff !important;
}
/******************************
Buttons
******************************/
.btn {
    font-size: smaller;
}/*
.btn-outline-primary, .btn-primary {
    border-color: #46C1EB;
}
.btn-outline-primary {
    color: #46C1EB;
}
.btn-primary {
    background-color: #46C1EB;
}

.btn-outline-secondary, .secondary {
    border-color: #489598;
}
.btn-outline-secondary {
    color: #489598;
}
.btn-secondary {
    background-color: #489598;
}*/