/********* Layout ************/
#content {
  margin: 0 5%;
}
/********* Navbar ************/
.navbar-brand #logo {
  width: 200px;
}
@media all and (min-width: 768px) {
  .navbar-brand #logo {
    width: 250px;
  }
}
.navbar-light.navbar-toggler {
  border: none;
}
/********* Buttons ************/
.btn {
  font-size: smaller;
}
/********* Cards ************/
.card-header {
  background-color: #fff !important;
}