<?xml version ="1.0" encoding="utf-8" ?>
<routes>
    <!-- Indique le fichier a utiliser pour une url donnée -->
    <!--
        Exemple statique :
            <route url="/news.html" module="News" action="index"></route>
        Exemple dynamique :
            <route url="/news-(.+)-([0-9]+)\.html" module="News" action="show" vars="slug,id" />
    -->
</routes>